<div class="nice-box sm-col-3">
  <div class="header row">
    Your Alerts
    <%= link_to 'View', alerts_path, class: 'btn btn-default pull-right' %>
  </div>
  <div class="contents row">
      <table class="table">
        <thead>
          <tr>
            <th>Last Triggered</th>
            <th>Status</th>
          </tr>
      </table>
  </div>
</div>
