<div class="nice-box">
  <div class="row">
    <div class="header">Your Searches
      <%= link_to 'New', new_youtube_search_path, class: 'btn btn-default pull-right' %>
    </div>
  </div>
  <div class="row contents">
      <table class="table">
        <% current_user.youtube_searches.most_recent(10).each do |search| %>
          <tr>
            <td><%= alert_glyph(search) %></td>
            <td><%= link_to search.name, edit_youtube_search_path(search) %></td>
          </tr>
        <% end %>
      </table>
    </div>
</div>
