$orange: #f2671f;
$red: #c91b26;
$rose: #9c0f5f;
$purple: #60047a;
$blue: #160a47;

$grey1: #dedfe0;
$grey2: #d1d2d4;
$grey3: #c5c6c8;
$grey4: #939599;
$grey5: #696a6c;
$grey6: #404041;

@brand-warning = $orange
@brand-success = $purple
@brand-info = $rose
@brand-danger = $red
